body{
/* 	background-image: url("../img/login/dl.jpg");
	background-position: top; */
	font-family: "微软雅黑";
}
/* 动画背景样式 */
.video-player{
	background-color: transparent;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	weight: auto;
	height: auto;
	z-index: -9999;
}
.video_mask{ 
	width:100%; 
	height:100%; 
	position:absolute; 
	left:0; 
	top:0; 
	z-index:90; 
	background-color:rgba(0,0,0,0.5); 
}
.login{
	 height:300px;
	 width:350px;
	 padding: 20px;
	 background-color:rgba(0,0,0,0.5);
	 border-radius: 4px;
	 position:absolute;
	 left: 50%;
	 top: 45%; 
	 margin:-150px 0 0 -150px;
	 z-index:99;
}

h1{
	width:300px;
	margin:0px auto 0px;
	text-align: center;
	color:#990000;
	font-size:33px;
	text-aligh:center;
}
form{
	width:400px;
	margin:25px auto 0px;
}

form input[type='text'],form input[type='password']{
	border: 1px solid #CCCCCC;
	height: 25px;
	line-height:25px;
	vertical-align: middle;
}

table{
	margin:0px auto 0px;
	margin-left:50px;
	color:#fff;
}
td{
	padding-top:10px;
}
.tdx{
	text-align: right;
}

input[type='submit']{
	background-image: url("../img/login/dlan01.jpg");
	margin-top: 12px;
	width:80px;
	height:38px;
	line-height:38px;
	border-style:none;
	font-size:17px;
	font-weight:bold;
	color:white;
	cursor: pointer;
}
input[type='submit']:hover{
	background-image: url("../img/login/dlan02.jpg");
}