<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  	<listener>
		<description>监听获取web应用路径</description>
		<listener-class>cn.ou.listener.MyServletContextListener</listener-class>
	</listener>
  
   <filter>
		<description>解决全站乱码过滤器</description>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>cn.ou.filter.EncodeFilter</filter-class>
		<init-param>
			<description>初始化参数</description>
			<param-name>encode</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter> 
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<description>实现30天自动登录</description>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>cn.ou.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	
	
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.ou.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>cn.ou.web.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckSmsServlet</servlet-name>
    <servlet-class>cn.ou.web.AjaxCheckSmsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValiImageServlet</servlet-name>
    <servlet-class>cn.ou.web.ValiImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckPhoneServlet</servlet-name>
    <servlet-class>cn.ou.web.AjaxCheckPhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckSmsCodeServlet</servlet-name>
    <servlet-class>cn.ou.web.AjaxCheckSmsCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.ou.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.ou.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdListServlet</servlet-name>
    <servlet-class>cn.ou.web.back.BackProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdImgServlet</servlet-name>
    <servlet-class>cn.ou.web.back.ProdImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxChangePnumServlet</servlet-name>
    <servlet-class>cn.ou.web.back.AjaxChangePnumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackProdDeleteServlet</servlet-name>
    <servlet-class>cn.ou.web.back.BackProdDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdListServlet</servlet-name>
    <servlet-class>cn.ou.web.ProdListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProdInfoServlet</servlet-name>
    <servlet-class>cn.ou.web.ProdInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>cn.ou.web.CartAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartDeleteServlet</servlet-name>
    <servlet-class>cn.ou.web.CartDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartEditServlet</servlet-name>
    <servlet-class>cn.ou.web.CartEditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderAddServlet</servlet-name>
    <servlet-class>cn.ou.web.OrderAddServlet</servlet-class>
  </servlet>












	



  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/servlet/AjaxCheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckSmsServlet</servlet-name>
    <url-pattern>/servlet/AjaxCheckSmsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValiImageServlet</servlet-name>
    <url-pattern>/servlet/ValiImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckPhoneServlet</servlet-name>
    <url-pattern>/servlet/AjaxCheckPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckSmsCodeServlet</servlet-name>
    <url-pattern>/servlet/AjaxCheckSmsCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdListServlet</servlet-name>
    <url-pattern>/back/BackProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdImgServlet</servlet-name>
    <url-pattern>/ProdImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxChangePnumServlet</servlet-name>
    <url-pattern>/back/AjaxChangePnumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackProdDeleteServlet</servlet-name>
    <url-pattern>/back/BackProdDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdListServlet</servlet-name>
    <url-pattern>/ProdListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProdInfoServlet</servlet-name>
    <url-pattern>/ProdInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/CartAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartDeleteServlet</servlet-name>
    <url-pattern>/CartDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartEditServlet</servlet-name>
    <url-pattern>/CartEditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderAddServlet</servlet-name>
    <url-pattern>/OrderAddServlet</url-pattern>
  </servlet-mapping>	
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
